@using WebApp_core_Login.Models.viewModel
@model List<userViewModel>
@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary btn-sm">yeni kullanıcı</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Activate</th>
                    <th>CreatedDate</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name </td>
                        <td>@item.Username</td>
                        <td>@item.activate</td>
                        <td>@item.createdDate</td>
                        <td>@item.role</td>
                        <td>
                            <a asp-action="Edit" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Delete" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-xmark"></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
